.auth-form {
  min-height: 413px;
  margin: 0;
  padding: 0;
}

.auth-form__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.auth-form__input-container {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.auth-form__label {
  margin: 0 0 10px;
  padding: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.auth-form__input {
  margin: 0 0 18px;
  padding-left: 15px;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.auth-form__input_error {
  color: #ff4062;
}

.auth-form__error {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  bottom: 3px;
  left: 0;
  color: #ff4062;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
}
.auth-form__error_visible {
  display: inline;
}

.auth-form__submit {
  margin: 71px 0 16px;
  padding: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: opacity 0.5s linear;
}
.auth-form__submit_login {
  margin-top: 159px;
}

.auth-form__submit:hover {
  opacity: .6;
  cursor: pointer;
}

.auth-form__submit-signature {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.auth-form__link {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: opacity 0.5s linear;
}
.auth-form__link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .auth-form__submit_login {
    margin-top: 159px;
  }
}

@media screen and (max-width: 544px) {
  .auth-form {
    min-height: 497px;
  }
  .auth-form__submit {
    margin: 159px 0 14px;
    font-size: 12px;
    line-height: 15px;
  }
  .auth-form__submit_login {
    margin: 247px 0 14px;
  }
  .auth-form__submit-signature {
    font-size: 12px;
    line-height: 15px;
  }
  .auth-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
